@model TourismWeb.Models.SpotTag

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SpotTag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spot.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tag.Name)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { spotId = Model.SpotId, tagId = Model.TagId }) |
    <a asp-action="Index">Back to List</a>
</div>
