@model TourismWeb.Models.SpotVideo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SpotVideo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spot.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VideoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
