@model IEnumerable<TourismWeb.Models.SpotShare>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spot.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShareId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShareId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShareId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
